<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/squizlabs/php_codesniffer/tests/bootstrap.php">
    <testsuites>
        <testsuite name="StrictTestCase Test Suite">
            <directory>./src/Standards/ForkNetwork/Tests</directory>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
